<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vlnn.j2e</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0273D23C-3866-4987-9B9B-11C60DDDC126</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB5BBBB2-1376-427C-A6D2-834D91AEB0F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69C6CD19-1CF2-41EF-A628-7CD348E869BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6A21857-8FE8-49BB-B73E-1DF3BFD0CD8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70B87898-AA45-4BB9-A1F7-5C0486E9775B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0273D23C-3866-4987-9B9B-11C60DDDC126</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A247F74F-9257-4585-A2CA-DA27461DD6EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6A21857-8FE8-49BB-B73E-1DF3BFD0CD8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A52F775A-6310-483C-A063-885227F65EE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0273D23C-3866-4987-9B9B-11C60DDDC126</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6A21857-8FE8-49BB-B73E-1DF3BFD0CD8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB5BBBB2-1376-427C-A6D2-834D91AEB0F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>vlnn</string>
	<key>description</key>
	<string>Convert json to edn and vice versa</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>j2e</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>j2e</string>
				<key>subtext</key>
				<string>json in, edn out</string>
				<key>text</key>
				<string>Convert JSON to EDN</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>69C6CD19-1CF2-41EF-A628-7CD348E869BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>pbpaste | jet -i json --keywordize -o edn</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6A21857-8FE8-49BB-B73E-1DF3BFD0CD8B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>json2edn</string>
				<key>subtext</key>
				<string>json in, edn out</string>
				<key>text</key>
				<string>Convert JSON to EDN</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A247F74F-9257-4585-A2CA-DA27461DD6EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AB5BBBB2-1376-427C-A6D2-834D91AEB0F6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>edn2json</string>
				<key>subtext</key>
				<string>edn in, json out</string>
				<key>text</key>
				<string>Convert EDN to JSON</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>70B87898-AA45-4BB9-A1F7-5C0486E9775B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>pbpaste | jet -i edn --keywordize -o json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0273D23C-3866-4987-9B9B-11C60DDDC126</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>e2j</string>
				<key>subtext</key>
				<string>edn in, json out</string>
				<key>text</key>
				<string>Convert EDN to JSON</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A52F775A-6310-483C-A063-885227F65EE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0273D23C-3866-4987-9B9B-11C60DDDC126</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>69C6CD19-1CF2-41EF-A628-7CD348E869BE</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>70B87898-AA45-4BB9-A1F7-5C0486E9775B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>A247F74F-9257-4585-A2CA-DA27461DD6EE</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>A52F775A-6310-483C-A063-885227F65EE3</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>AB5BBBB2-1376-427C-A6D2-834D91AEB0F6</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>B6A21857-8FE8-49BB-B73E-1DF3BFD0CD8B</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/vlnn/j2e</string>
</dict>
</plist>
